<!DOCTYPE html>
<html>
<head>
    <title>nginx web server</title>
</head>
<body>
    <center>
        <p><h2>ANSIBLE TEST PAGE</h2></p>
        <p><h2>Yoo taegyun</h2></p>
        <p>NGINX NUMBER: {{ idx }}/{{ nu }}</p>
        <p>pub: {{ pub }}</p>
        <p>pri: {{ pri }}</p>
    </center>
</body>
</html>

